$font: Century Gothic, Helvetica, sans-serif;
$bg-color: #f2f2f2;
$navbar-link-color: #ffffff;
$logo-color: #95EAEB;
$section-logo-color: #e6e6e6;

body {
  font: 100% $font;
  background-color: $bg-color;
}

.navbar-inverse {
  background-color: $logo-color;
  border-color: $logo-color;
  .navbar-nav > li > a {
    color: $navbar-link-color;
  }
}

.navbar {
  margin-bottom: 0;
}

section {
  &.logo {
    height: 80px;
    background-color: $section-logo-color;
  }
  &.bg {
    height: 500px;
    padding: 50px 0;
  }
}

.divider {
  height: 50px;
}

.bg {
  color: #ffffff;
  background-size: cover;
}

.bg-1 {
  @extend .bg;
   background: url('../Resources/resort.jpg') no-repeat center center fixed;
}

.bg-2 {
  @extend .bg;
   background: url('../Resources/luxury_hotel1.jpg') no-repeat top center fixed;
}

.bg-1 {
  @extend .bg;
   background: url('../Resources/luxury_hotel2.jpg') no-repeat bottom center fixed;
}

.bold {
  font-weight: bold;
  
}