<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="hotel">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="navbar.authData">
          <a href="#">Register</a>
        </li>
        <li ng-hide="navbar.authData">
          <a href="" ng-click="navbar.auth.$authWithOAuthPopup('google'); navbar.goHome()">Log in with Google</a>
        </li>
        <li ng-show="navbar.authData">
          <a href="">
            Hello {{navbar.authData.google.displayName}}
          </a>
        </li>
        <li ng-show="navbar.authData">
          <a href="" ng-click="navbar.logOut(); navbar.goHome()">Log out</a>
        </li>
        <li ng-show="navbar.isAdmin">
          <a ui-sref='dashboard'>Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
<!--  <pre>{{navbar.authData | json}}</pre>-->
</nav>
