.mybtn {
  width: 75px;
  background-color: $blizzard-blue;
  &> i {
    color: $white;
  }
}

.cool {
  background-color: $blizzard-blue;
  height: 300px;
  border-radius: 4px;
  opacity: 0.5;
  margin-top: 5px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.5em;
  &> col-md-6 {
    font-size: 30px;
  }
}