<div class="container">
<searchbar></searchbar>
 <section class="compare">
  <div class="table-responsive border-color">
    <table class="table font-arial table-bordered border-color border-radius">
      <tr>
        <td>
          
        </td>
        <td>
          <h3>{{hotelDetail.data.hotel1.hotel_name}}</h3>
        </td>
        <td>
          <h3>{{hotelDetail.data.hotel2.hotel_name}}</h3>
        </td>
      </tr>
      <tr>
        <td>
          Image
        </td>
        <td>
          <img class="img-responsive" ng-src="{{hotelDetail.data.hotel1.hotel_images}}" alt="image1">
        </td>
        <td>
           <img class="img-responsive" ng-src="{{hotelDetail.data.hotel2.hotel_images}}" alt="image2">
        </td>
      </tr>
      <tr>
        <td>
          Address
        </td>
        <td>
          {{hotelDetail.data.hotel1.hotel_address}}
        </td>
        <td>
          {{hotelDetail.data.hotel2.hotel_address}}
        </td>
      </tr>
      <tr>
        <td>
          City
        </td>
        <td>
          {{hotelDetail.data.hotel1.hotel_city}}
        </td>
        <td>
          {{hotelDetail.data.hotel2.hotel_city}}
        </td>
      </tr>
      <tr>
        <td>
          Overview
        </td>
        <td>
          <ul ng-repeat="(key,value) in hotelDetail.data.hotel1.hotel_overview track by $index">
            <li>
              {{key | labelCase}}
              <ul ng-repeat="(key1,value1) in value track by $index">
                <li>{{value1}}</li>
              </ul> 
            </li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="(key,value) in hotelDetail.data.hotel2.hotel_overview track by $index">
            <li>
              {{key | labelCase}}
              <ul ng-repeat="(key1,value1) in value track by $index">
                <li>{{value1}}</li>
              </ul> 
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          Info
        </td>
        <td>
          <ul ng-repeat="(key,value) in hotelDetail.data.hotel1.hotel_information track by $index">
            <li>
              {{key | labelCase}}
              <ul ng-repeat="(key1,value1) in value track by $index">
                <li>{{value1}}</li>
              </ul> 
            </li>
          </ul>
        </td>
        <td>
          <ul ng-repeat="(key,value) in hotelDetail.data.hotel2.hotel_information track by $index">
            <li>
              {{key | labelCase}}
              <ul ng-repeat="(key1,value1) in value track by $index">
                <li>{{value1}}</li>
              </ul> 
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><div class="btn btn-success">Book</div></td>
        <td><div class="btn btn-success">Book</div></td>
      </tr>
    </table>
  </div>
  </section>
  
</div>
<section class="bg bg-cmt">
  <div class="col-sm-10 col-sm-offset-1 text-center">

    <h1>We provide best hotels around the world</h1>
    <!--          searchbar-->
     <searchbar></searchbar>
    <!--          end searchbar-->
  </div>
</section>
<div class="container">
  <section>
    <h3>Most recent hotels</h3>
    <!--  latest hotels-->
      <latest-hotel></latest-hotel>
    <!--  /latest hotels-->
  </section>
</div>