<div class="jumbo-toggle">
  <div class="jumbotron custom-jumbotron border-radius">
    <h1>{{hotelDetail.detailData.hotel_name}}</h1>
    <p class="font-arial">{{hotelDetail.detailData.hotel_address}}</p>
  </div>
  <img class="img-responsive margin-center full-width border-radius" ng-src="{{hotelDetail.detailData.hotel_images}}" alt="{{hotelDetail.detailData.hotel_name}}'s picture">
</div>
<div class="my-jumbotron">
 <img class="img-responsive" ng-src="{{hotelDetail.detailData.hotel_images}}" alt="{{hotelDetail.detailData.hotel_name}}'s picture">
 <h2><span>{{hotelDetail.detailData.hotel_name}}</span> <br> <span class="small">{{hotelDetail.detailData.hotel_address}}</span></h2>
</div>
<div class="container">
<!--  Hotel overview-->
  <section>
    <h2>Overview</h2> 
    <div class="row">
      <div class="col-md-6">
        <div class="border border-radius ">
          <table class="table font-arial table-hover">
            <thead>
              <tr>
                <th><h3><span class="glyphicon glyphicon-asterisk"></span> Main amenities</h3></th>
              </tr>
            </thead>
            <tbody>
             <tr ng-repeat="(key, value) in hotelDetail.detailData.hotel_overview.hotel_main_amenties track by $index">
               <td><span class="glyphicon glyphicon-ok"></span> {{value}}</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="border border-radius ">
          <table class="table font-arial table-hover">
            <thead>
              <tr>
                <th><h3><span class="glyphicon glyphicon-picture"></span> What's around</h3></th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in hotelDetail.detailData.hotel_overview.hotel_what_arround track by $index">
                <td><span class="glyphicon glyphicon-ok-circle"></span> {{value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    
    
  </section>
  
  <!--  Hotel information-->
  <section class="hotel-info">
    <h2>Hotel information</h2>
    <div class="row font-arial">
      <div class="col-md-6 col-sm-6 hidden-xs">
        <img class="img-responsive border-radius margin-center" src="Resources/check.jpg" alt="checking picture">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="border border-radius">
          
          <ul class="list">
            <li ng-repeat="(key, value) in hotelDetail.detailData.hotel_information track by $index">
              <h4><span class="glyphicon glyphicon-chevron-right"></span> {{key | labelCase }}</h4>
              <ul>
                <li ng-repeat="data in value track by $index">
                  {{data}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <!--   Room choices-->
  <section>
    <h2>Room choices</h2>
    <div class="row font-arial">
      <div class="col-md-12">
        <div class="table-responsive border-color"> 
          <table class="table font-arial table-bordered border-color border-radius">
          <thead>
            <tr>
              <th class="text-center">Book</th>
              <th class="text-center">Room type</th>
              <th class="text-center">Room max</th>
              <th class="text-center">Room information</th>
              <th class="text-center">Room price</th>
              <th class="text-center">Room available</th>
             
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in hotelDetail.detailData.hotel_room_choices track by $index">
              <td><div class="btn btn-success">Book</div></td>
              <td>{{value.room_type}}</td>
              <td>{{value.room_max}}</td>
              <td>
                <table class="">
                  <tr ng-repeat="(key1, value1) in value.room_information">
                    <td>{{key1 | labelCase}}</td>

                    <td class="padding-left"><span class="glyphicon glyphicon-arrow-right"></span> {{value1}}</td>
                  </tr>
                </table>
              </td>
              <td>{{value.room_average_nightly_price | dollarSign}}</td>
              <td>{{value.room_available}}</td>
            </tr>
          </tbody>
         </table>
        </div>
      
      </div>
    </div>
  </section>
  <searchbar></searchbar> 
  
  <section>
    <h2>Most recent hotels</h2>
    <!--  latest hotels-->
      <hotel></hotel>
    <!--  /latest hotels-->
  </section>
</div>


