
<div class="container">

    <div class="jumbotron">
    <h1>{{hotelDetail.detailData.hotel_name}}</h1>
    <p class="font-arial">{{hotelDetail.detailData.hotel_address}}</p>
  </div>
  <img class="img-responsive margin-center full-width border-radius" ng-src="{{hotelDetail.detailData.hotel_images}}" alt="{{hotelDetail.detailData.hotel_name}}'s picture">



<!--  Hotel overview-->
  <section>
    <h2>Overview</h2> 
    <div class="row">
      <div class="col-md-6">
        <div class="border border-radius ">
          <table class="table font-arial table-hover">
            <thead>
              <tr>
                <th><h3><span class="glyphicon glyphicon-asterisk"></span> Main amenities</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="a in hotelDetail.loadAmentiesWhatAround('amenties', hotelDetail.detailData.$id) track by $index">
                <td ng-if="a != null"><span class="glyphicon glyphicon-ok"></span> {{a}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="border border-radius ">
          <table class="table font-arial table-hover">
            <thead>
              <tr>
                <th><h3><span class="glyphicon glyphicon-picture"></span> What's around</h3></th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="a in hotelDetail.loadAmentiesWhatAround('whataround', hotelDetail.detailData.$id) track by $index">
                <td><span class="glyphicon glyphicon-ok-circle"></span> {{a}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  
  <!--   Room choices-->
  <section>
    <h2>Room choices</h2>
    <div class="row font-arial">
      <div class="col-md-12">
        <table class="table font-arial table-bordered table-responsive border-color border-radius">
          <thead>
            <tr>
              <th class="text-center">Room type</th>
              <th class="text-center">Room max</th>
              <th class="text-center">Room information</th>
              <th class="text-center">Room price</th>
              <th class="text-center">Room available</th>
              <th class="text-center">Book</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="h in hotelDetail.roomChoices" track by $index>
              <td>{{h.room_type}}</td>
              <td>{{h.room_max}}</td>
              <td>
                <table class="">
                  <tr ng-repeat="(key, value) in h.room_information">
                    <td>{{key | labelCase}}</td>

                    <td class="padding-left"><span class="glyphicon glyphicon-arrow-right"></span> {{value}}</td>
                  </tr>
                </table>
              </td>
              <td>{{h.room_average_nightly_price | dollarSign}}</td>
              <td>{{h.room_available}}</td>
              <td><div class="btn btn-success">Book</div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  
  <!--  Hotel information-->
  <section class="hotel-info">
    <h2>Hotel information</h2>
    <div class="row font-arial">
      <div class="col-md-6 col-sm-6hidden-xs">
        <img class="img-responsive border-radius margin-center" src="Resources/check.jpg" alt="checking picture">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="border border-radius">
          
<!--
          <ul class="list">
            <li ng-repeat="(key, value) in hotelDetail.loadHotelInfo() track by $index">
              <h4><span class="glyphicon glyphicon-chevron-right"></span> {{key | labelCase }}</h4>
              <ul>
                <li ng-repeat="data in value track by $index">
                  {{data}}
                </li>
              </ul>
            </li>
          </ul>
-->
          
          <ul class="list">
            <li>
              <h4><span class="glyphicon glyphicon-chevron-right"></span> Arriving/leaving</h4>
              <ul>
                <li ng-repeat="data in hotelDetail.loadHotelInfo().arriving_leaving">
                  {{data}}
                </li>
              </ul>
            </li>
            <li>
              <h4><span class="glyphicon glyphicon-chevron-right"></span> Hotel size</h4>
              <ul>
                <li ng-repeat="data in hotelDetail.loadHotelInfo().hotel_size">
                  {{data}}
                </li>
              </ul>
            </li>
            <li>
              <h4><span class="glyphicon glyphicon-chevron-right"></span> Hotel size</h4>
              <ul>
                <li ng-repeat="data in hotelDetail.loadHotelInfo().required_at_checkin">
                  {{data}}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>


{{hotelDetail.dataDemo | json}}