// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$font: Century Gothic, Helvetica, sans-serif;

$white: #ffffff;
$bg-color: darken($white, 5%);
$navbar-link-color: $white;

$blizzard-blue: #95EAEB;
$logo-color: $blizzard-blue;
//$section-logo-color: #e6e6e6;
$section-logo-color: darken($white, 10%);
$panel-img-height: 200px;
