<div class="font-arial"> 
 <div class="modal-header">
    <h3 class="modal-title">Add new hotel</h3>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" id="my-form">
        <div class="form-group">
          <label class="control-label col-sm-4">Hotel</label>
          <div class="col-sm-7">
          <input placeholder="" class="form-control" ng-model="modalInstance.item.hotel_name" type="text">
            
          </div>
          <div class="col-sm-1">
            
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4">City </label>
          <div class="col-sm-7">
          <input placeholder="" class="form-control" ng-model="modalInstance.item.hotel_city" type="text">
          </div>
          <div class="col-sm-1"></div>
        </div>
         <div class="form-group">
          <label class="control-label col-sm-4">Address </label>
          <div class="col-sm-7">
            <input placeholder="" class="form-control" ng-model="modalInstance.item.hotel_address" type="text">
          </div>
          <div class="col-sm-1"></div>
        </div>
        
  <!--        hotel properties....-->
        <div class="form-group" ng-repeat="p in modalInstance.propHotel track by $index">
         <label class="control-label col-sm-4">{{p.title | labelCase}} </label>
          <div class="col-sm-7">
            <select class="form-control" ng-model="p.selected" ng-options="a for a in p.options"></select><br>
            
            <!--            input for --custome---->
            <input class="form-control" ng-model="p.temp" type="text" placeholder="Typing here..." ng-if="p.selected === '--custome--'">
            <!--            /end input for custome-->
            
            <ul>
              <li class="list" ng-repeat="a in p.list track by $index">
                <span class="glyphicon glyphicon-ok"></span> {{a}}
              </li>
            </ul>
          </div>
          <div class="col-sm-1">
           
            <!--             refresh button-->
            <a ng-hide="p.list.length === 0" class="text-warning" href="" ng-click="modalInstance.clearList(p)"><span class="glyphicon glyphicon-refresh"></span></a> 
            
            <a href="" ng-hide="!p.selected || p.selected === '--custome--'" ng-click="modalInstance.push(p.selected, p)"><span class="glyphicon glyphicon-plus"></span></a>  
            
            <!--            button for custome input-->
            <a href="" ng-hide="p.selected !== '--custome--' || p.temp === ''" ng-click="modalInstance.push(p.temp, p)"><span class="glyphicon glyphicon-plus"></span></a>
            
          </div>
    
        </div>
<!--            /end hotel properties...-->
        
  <!--       hotel-size-->
        <div class="form-group" ng-repeat="i in modalInstance.propHotelInputs track by $index">
          <label class="control-label col-sm-4">{{i.title | labelCase}} </label>
          <div class="col-sm-7">
              <input placeholder="" class="form-control" ng-model="i.temp" type="text">
              
              <ul>
                <li class="list" ng-repeat="a in i.list track by $index">
                  <span class="glyphicon glyphicon-ok"></span> {{a}}
                </li>
              </ul>
          </div>
          <div class="col-sm-1">
            <!--            refresh list-->
            <a ng-hide="i.list.length === 0" class="text-warning" href="" ng-click="modalInstance.clearList(i)"><span class="glyphicon glyphicon-refresh"></span></a>
            
            <!--            add list-->
            <a href="" ng-show="i.temp" ng-click="modalInstance.push(i.temp, i)"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
        </div>
<!--        /end hotel-size-->
    
        <br>
        <div class="form-group">
         <label class="control-label col-sm-4"></label>
          <div class="col-sm-7"> 
           <h4>Room choice {{modalInstance.roomList.length + 1}}</h4>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
<!--        room avai-->
        <div class="form-group">
         <label class="control-label col-sm-4">Room available </label>
          <div class="col-sm-7">
              <input placeholder="" class="form-control" ng-model="modalInstance.selectedRoomAvai" type="number">
          </div>
          <div class="col-sm-1">
          </div>
        </div>
<!--       /room avai-->
        
<!--        room price-->
        <div class="form-group">
         <label class="control-label col-sm-4">Room average nightly price</label>
          <div class="col-sm-7">
              <input placeholder="" class="form-control" ng-model="modalInstance.selectedRoomPrice" type="number">
          </div>
          <div class="col-sm-1">
          </div>
        </div>
<!--            /end room price-->

<!--            room max-->
        <div class="form-group">
         <label class="control-label col-sm-4">Room max</label>
          <div class="col-sm-7">
              <input placeholder="" class="form-control" ng-model="modalInstance.selectedRoomMax" type="number">
          </div>
          <div class="col-sm-1">
          </div>
        </div>
<!--            /room max-->
        
<!--        Room information-->
        <div class="form-group" ng-repeat="p in modalInstance.roomChoices track by $index">
         <label class="control-label col-sm-4">{{p.title | labelCase}} </label>
          <div class="col-sm-7">
            <select class="form-control" ng-model="p.selected" ng-options="a for a in p.options"></select><br>
            
            <!--            input for --custome---->
            <input class="form-control" ng-model="p.temp" type="text" placeholder="Typing here..." ng-if="p.selected === '--custome--'">
            <!--            /end input for custome-->
            
            <ul>
              <li class="list" ng-repeat="a in p.list track by $index">
                <span class="glyphicon glyphicon-ok"></span> {{a}}
              </li>
            </ul>
          </div>
          <div class="col-sm-1">
           
            <!--             refresh button-->
            <a ng-hide="p.list.length === 0" class="text-warning" href="" ng-click="modalInstance.clearList(p)"><span class="glyphicon glyphicon-refresh"></span></a> 
            
            <a href="" ng-hide="!p.selected || p.selected === '--custome--'" ng-click="modalInstance.push(p.selected, p)"><span class="glyphicon glyphicon-plus"></span></a>  
            
            <!--            button for custome input-->
            <a href="" ng-hide="p.selected !== '--custome--' || p.temp === ''" ng-click="modalInstance.push(p.temp, p)"><span class="glyphicon glyphicon-plus"></span></a>
            
          </div>
    
        </div>
<!--          /Room information-->
       <div class="form-group">
         <label class="control-label col-sm-4"></label>
          <div class="col-sm-7">
              <button class="btn btn-primary" ng-click="modalInstance.addMoreRoom()">Add more room</button>
          </div>
          <div class="col-sm-1">
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="modalInstance.ok()">Add</button>
      <button class="btn btn-warning" type="button" ng-click="modalInstance.cancel()">Cancel</button>
  </div>
</div>